<div class="col-sm-5">
    <img src="images/ancestor.jpg" style='width:300px' alt="" />
</div>

<div class="intro col-sm-7">
    <h1>Your ancestral records are available.</h1>
    <h3>
        <em>Let's use them to get to know your ancestors.</em>
    </h3>
    <p> Let's login to familysearch.org below to get started.</p>
    <button type="button" name="login" class="btn" spinner clicked="run()">Get Started</button>
    <div class="winner" ng-show="contactName">Hello {{contactName}}!</div>

</div>
