<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/throbber.css" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body ng-controller="mainCtrl">

    {{{body}}}

    <div id="output" />

    <!-- Libraries -->
    <script src="js/jquery.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Scripts -->
    <script src="js/fs-sdk.js"></script>
    <script src="js/moment.js" charset="utf-8"></script>
    <script src="js/loginCtrl.js" charset="utf-8"></script>
    <script src="js/customDirectives.js" charset="utf-8"></script>
    <script src="services/didYouKnow.js" charset="utf-8"></script>
    <script src="services/getAncestors.js" charset="utf-8"></script>
    <script src="js/ahnentafelCalc.js" charset="utf-8"></script>
    <script src="js/d3.min.js" charset="utf-8"></script>
    <script src="js/d3Scripts.js" charset="utf-8"></script>
</body>

</html>
